$alto: #dcdcdc;
$bright-red: #b50010;
$charcoal: #232323;
$dove-gray: #6e6e6e;
$sunshade: #ffa624;
$mine-shaft: #3f3f3f;
$white: #ffffff;

@mixin body-view {
   padding: 0 2rem;
}

$text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

$break-small: 800px;

body, html {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: $charcoal;
   color: $white;

   #app {
      background-color: $mine-shaft;
      max-width: 1100px;
      margin: 0 auto;

      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      #title {
         display: flex;
         align-items: center;
         padding: 2rem 0 1rem 2rem;

         img {
            display: inline-block;
            width: 90px;
            height: 90px;
         }

         h1 {
            display: inline-block;
            margin: 0;
            padding: 0 0 0 1rem;
            color: white;
            text-shadow: 2px 2px 4px rgba(0,0,0, 0.3);
            font-family: 'Orbitron', sans-serif;
            user-select: none;
         }

         @media screen and (max-width: $break-small) {
            img {
               width: 50px;
               height: 50px;
            }

            h1 {
               font-size: 1.5rem;
            }
         }
      }

      #day-select {
         .days {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: $charcoal;
            list-style: none;
            cursor: pointer;

            @media screen and (max-width: $break-small) {
               justify-content: space-between;
            }

            .day {
               padding: 1rem;
               font-weight: bold;

               &:hover {
                  background-color: lighten($charcoal, 3%);
               }

               &.active {
                  background-color: darken($charcoal, 5%);
                  color: $bright-red;
                  text-decoration: none;
               }

               @media screen and (max-width: $break-small) {
                  display: none;
                  &.active {
                     display: inline;
                  }
               }
            }

            .day-selector {
               display: none;
               
               @media screen and (max-width: $break-small) {
                  display: inline-flex;
                  justify-content: space-between;
                  width: 80px;
                  padding: 0;
                  font-weight: bold;
                  user-select: none;

                  span {
                     position: relative;
                     width: 40px;
                     font-size: 3rem;

                     &:after {
                        position: absolute;
                        left: 5px;
                        bottom: -6px;
                     }

                     &:hover {
                        background-color: lighten($charcoal, 3%);
                     }
                  }
               }

               .dec:after {
                  content: '<';
               }

               .inc:after {
                  content: '>';
               }
            }
         }
      }
   }

   .movie {
      display: flex;
      margin-bottom: 2rem;

      .movie-col-left {

         img {
            display: block;
            height: 250px;

            @media screen and (max-width: $break-small) {
               height: 150px;
            }
         }
      }

      .movie-col-right {
         padding-left: 1rem;

         .movie-title {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            h2 {
               display: inline-block;
               margin: 0;
               margin-right: 0.5rem;
               color: $sunshade;
               text-shadow: $text-shadow;
            }

            .movie-rating {
               padding: 0.3rem 0.5rem 0.2rem;
               background-color: $bright-red;
               text-shadow: $text-shadow;
               line-height: 1.5rem;
               font-weight: bold;
               white-space: nowrap;
               overflow: hidden;
               user-select: none;
            }

            @media screen and (max-width: $break-small) {
               h2 {
                  line-height: 1.25re;
                  font-size: 1.25rem;
               }

               .movie-rating {
                  padding: 0.2rem 0.35rem 0.1rem;
                  line-height: 1rem;
                  font-size: 0.8rem;
               }
            }
         }
      }
   }

   #overview {
      @include body-view;

      .main {
         display: flex;

         @media screen and (max-width: $break-small) {
            flex-direction: column;
         }
      }

      #movie-list {
         flex-basis: 75%;
      }
      #movie-filter {
         flex-basis: 25%;

         @media screen and (max-width: $break-small) {
            order: -1;
         }
      }
   }

   #movie-list {
      padding-top: 2rem;

      .movie {
         padding-bottom: 2rem;
         border-bottom: 2px ridge $dove-gray;
      }

      .movie-col-right {

         .movie-sessions {

            .session-time-wrapper {
               float: left;
            }

            .session-time {
               margin-right: 0.5rem;
               margin-bottom: 0.5rem;
               padding: 0.5rem;
               background-color: $dove-gray;
               font-weight: bold;
               text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
               white-space: nowrap;
               user-select: none;

               @media screen and (max-width: $break-small) {
                  padding: 0.35rem;
                  font-size: 0.8rem;
               }
            }
         }
      }

      .no-results {
         padding-bottom: 2rem;
         font-weight: bold;
         font-size: 1.25rem;
      }
   }

   $filter-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

   #movie-filter {
      margin-bottom: 2rem;
      padding-left: 2rem;
      color: $white;
      font-size: 1.15rem;

      @media screen and (max-width: $break-small) {
         margin-bottom: 0;
         padding-left: 0;
         padding-bottom: 2rem;
         border-bottom: 2px ridge $dove-gray;
         font-size: 1rem;
      }

      h2 {
         border-bottom: 3px solid $white;
         text-shadow:  3 solid $filter-shadow;
      }

      .filter-group {
         display: flex;
         flex-direction: column;

         @media screen and (max-width: $break-small) {
            flex-direction: row;
            flex-wrap: wrap;
         }
      }

      .check-filter {
         display: flex;
         flex-direction: row;
         margin-top: 0.5rem;
         margin-right: 1rem;
         color: $alto;
         text-shadow: $filter-shadow;
         cursor: pointer;


         &:hover {
            color: $white;

            .checkbox {
               border-color: $white;
            }
         }

         &.active {
            color: $white;

            .checkbox::after {
               content: '';
               position: absolute;
               top: 3px;
               left: 3px;
               width: 14px;
               height: 14px;
               background-color: $sunshade;
               border-color: $white;
               border-radius: 2px;
            }
         }
      }

      .checkbox {
         position: relative;
         display: inline-block;
         width: 20px;
         height: 20px;
         border: 1px solid $alto;
         border-radius: 3px;
         box-shadow: $filter-shadow;
         user-select: none;
      }

      .check-filter-title {
         padding-left: 0.45rem;
         line-height: 1.6rem;
         vertical-align: top;
         user-select: none;
      }
   }

   #detail {
      @include body-view;
      padding-bottom: 2rem;

      .home {
         margin-bottom: 1rem;

         a {
            padding: 0.5rem 0;
            color: $white;
            border-top: 2px solid $white;
            text-decoration: none;
            font-size: 1.25rem;
         }
      }

      .movie {
         .movie-details {
            color: $white;

            .movie-genre {
               font-weight: bold;
            }

            table {
               tr {
                  td {
                     vertical-align: top;
                  }
                  td:first-child {
                     padding-right: 0.5rem;
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }
}