$alto: #ddd;
$buttermilk: rgba(255,238,173, 0.4);
$dusty-gray: #999;
$pickled-bluewood: #35495e;
$vista-blue: #42b983;

$calendar-border: 1px solid $alto;

@mixin calendar-row {
   display: flex;
   justify-content: flex-start;
   width: 100%;
}

@mixin calendar-cell {
   width: 100%;
   padding: 0.5rem;
}

@font-face {
   font-family: 'Muli';
   src: url('~./assets/Muli-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Muli';
   src: url('~./assets/Muli-Regular.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

body {
   padding-bottom: 2rem;
   color: $pickled-bluewood;
   font-family: 'Muli', Helvetica, Arial, sans-serif;
}

#app {
   display: block !important;
   flex-basis: 1000px;

   #header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      div:first-child {
         display: flex;
         align-items: center;
         margin: 1rem 0;

         h1 {
            margin: 0 0 0 0.5rem;
            padding-top: 7px;
            color: $pickled-bluewood;
         }
      }

      div:last-child {
         font-weight: bold;

         button {
            width: 20px;
            margin-left: 0.25rem;
            padding: 0;
            background-color: white;
            color: $dusty-gray;
            border: 1px solid $alto;
            border-radius: 2px;
            user-select: none;

            &:focus {
               outline: none;
            }

            &:hover {
               color: $pickled-bluewood;
               box-shadow: 0 2px 2px $alto;
            }
         }
      }
   }

   #day-bar {
      @include calendar-row;

      div {
         @include calendar-cell;
      }
   }

   #calendar {
      background: white;

      .calendar-week {
         @include calendar-row();

         .day {
            font-weight: bold;
            overflow: hidden;
            height: 100px;
            border-left: $calendar-border;
            border-top: $calendar-border;
            user-select: none;
            cursor: default;
            @include calendar-cell;

            &:last-child {
               border-right: $calendar-border;
            }

            &.past {
               opacity: 0.6;
            }

            &.today {
               background-color: $buttermilk;
            }

            .event-list {
               margin: 0.5rem 0 0.5rem 0;
               padding: 0;
               color: $vista-blue;
               font-weight: bold;
               list-style: none;

               li {
                  white-space: nowrap;
               }
            }
         }

         &:last-child {
            .day {
               border-bottom: $calendar-border;
            }
         }
      }
   }

   $event-form-with: 300px;

   #event-form {
      position: fixed;
      display: none;
      width: $event-form-with;
      padding: 1rem;
      background-color: #fff;
      box-shadow: 0 2px 4px $alto;
      border-right: 1px solid $alto;
      transform: translate(-50%, -100%);

      &.active {
         display: flex;
      }

      h4 {
         margin: 0 0 0.75em 0;
         color: $dusty-gray;
         font-weight: normal;
         font-size: 1.15rem;
      }
   }

   #close-button {
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;
      width: 20px;
      margin: 0;
      padding: 0;
      background-color: white;
      color: #666666;
      border: none;
      font-weight: bold;
      cursor: pointer;

      &:focus {
         outline: none;
      }
   }
}